<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Práctica realizada por Toni Tebas (@ttebas)</p>
    <img src="/images/tt.jpg" width="150" height="150"/>
  </body>
</html>
